@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:200');

body  {
    background-image: url('https://static.vecteezy.com/system/resources/previews/001/226/748/original/colorful-sunset-sky-free-photo.jpg');
    background-size:cover;
    -webkit-animation: slidein 100s;
    animation: slidein 100s;

    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;

    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;

    -webkit-animation-direction: alternate;
    animation-direction: alternate;              
}

@-webkit-keyframes slidein {
from {background-position: top; background-size:3000px; }
to {background-position: -100px 0px;background-size:2750px;}
}

@keyframes slidein {
from {background-position: top;background-size:3000px; }
to {background-position: -100px 0px;background-size:2750px;}

}

.center
{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(191, 75, 240, 0.3);
  border-radius: 3px;
}
.center h1{
  text-align:center;
  color:white;
  font-family: 'Source Code Pro', monospace;
  text-transform:uppercase;
}

.nav-font {
    color:white;
    font-family: 'Source Code Pro', monospace;
}

.form-size {
    width: 30rem;
    height: 20rem;
}

.review-heading {
  font-size: 2rem; /* Adjust the font size as needed */
  padding-bottom: 0.5rem; /* Add padding to create space below the heading */
  border-bottom: 2px solid #4a5568; /* Adjust the color and thickness as needed */
  font-family: 'Source Code Pro', monospace;
}

.gray-border {
  border-bottom: 1px solid #4a5568; /* Adjust the color and thickness as needed */
}
